/*
Theme Name:       NestList Theme
Description:      Theme for SJU Nestlist and Hawk Hill Today
Author:           Kelly Anne Pipe
Theme URI:        http://nestlist.sju.edu
Version:          2.0.1

License:            MIT License
License URI:        http://opensource.org/licenses/MIT

Bitbucket Theme URI: https://bitbucket.org/saintjosephs/nestlist-theme/

*/

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700);

.categorylist{
  margin:0px;
  padding:0px;
}
.categorylist li{
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}
.categorylist li:last-child{
  border-bottom:none;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.table-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.table-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.table-callout p:last-child {
  margin-bottom: 0;
}
.table-callout code {
  background-color: #fff;
  border-radius: 3px;
}

/* Variations */
.table-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.table-callout-danger h4 {
  color: #d9534f;
}
.table-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.table-callout-warning h4 {
  color: #f0ad4e;
}
.table-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.table-callout-info h4 {
  color: #5bc0de;
}

.page-template-template-totallyblank-php .container {
  max-width:730px;
}


.frm_forms h3{
  color: #9e1b32;
  font-weight: normal;
}

/* Hawk Hill Today */

.hhtoday-theme{
  background: #efefef;
  font-family: "Lora","Merriweather","PT Serif",Georgia,"Times New Roman",serif;
  font-size: 15px;
  line-height: 1.6;
}

.hhtoday-wrapper{
  width: 95%;
  margin: 10px auto;
  background-color: white;
}



.hht-header{
  padding: 20px;
  text-align: right;
}
.hht-header h1{
  font-family: 'FrutigerLTW01-75Black';
  font-size: 2.5em;
  margin: 0 0 5px;
  font-weight: normal;
}
.hht-header .thetime{
  color: #333;
  font-weight:bold;
  font-size: 1.25em;
}

.hht-content main{
  padding:10px;
}
.hht-content aside{
  padding:10px;
}
@media (min-width: 480px) {
  .hhtoday-wrapper{
    width: 80%;
    min-width: 320px;
    max-width: 800px;
  }
  .hht-content main{
    float:left;
    width: 70%;
    padding:10px;
  }
  .hht-content aside{
    float:left;
    width: 30%;
    padding:10px;
  }
}

.hht-content aside h3{
  font-family: 'FrutigerLTW01-75Black';
  font-size: 1.55em;
  margin: 0 0 15px;
  font-weight: normal;
}
.hht-content .hht-single-header{
  font-family: 'FrutigerLTW01-75Black';
  font-size: 2em;
  margin: 0 0 15px;
  font-weight: normal;
}
.hht-content figure{
  float: right;
  width: 40%;
  margin: 5px;
}
.hht-content .entry-title {
  color: #666;
  font-size: 1.75em;
  margin-top: 1em;
}
.hht-content figure img{
  max-width: 100%;
  height: auto;
}
.hht-content .entry-footer{
}
.hht-file {
  background-color: green;
  padding: 10px;
}
.hht-file a{
  color: white;
}
.hht-content .frm_style_formidable-style.with_frm_style .frm-show-form .frm_section_heading h3{
  font-weight: normal;
}
.hht-content .entry-details {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  font-size: .85em;
}
.dpe-flexible-posts{
    list-style:none;
    margin: 0;
    padding: 0;
    font-size: .85em;
}

.dpe-flexible-posts a {
    display: block;
}

.dpe-flexible-posts a:before,
.dpe-flexible-posts a:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.dpe-flexible-posts a:after {
    clear: both;
}


.dpe-flexible-posts img {
    width: 20%;
    height: auto;
    padding: 2px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 5px;
}

.dpe-flexible-posts li {
    margin: 7px 0;
    padding: 0px 5px 7px;
    border-bottom: 1px solid #ccc;
}

.dpe-flexible-posts .title {
    float: left;
    width: 75%;
}

.the-start-date, .the-end-date{
  font-weight:bold;
  color: #9e1b32;
}
.adverts-content{
  margin: 20px 0;
}
.hhtoday-footer {
  background-color: #999;
  color: white;
  padding: 40px 20px 20px;
  text-align: center;
  font-size: .85em;
}
.hhtoday-footer a{
  color: white;
  border-bottom: 1px dotted white;
}
.hhtoday-footer a:hover{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.hhtoday-archive-posts-notice{
  font-size: .85em;
}
.hhtoday-archive-posts-list{
  
}
.hhtoday-archive-posts-list .the-date{
  font-size: .85em;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}

@font-face {
  font-family: 'FrutigerLTW01-75Black';
  src: url('assets/fonts/frutigerltw01-75black.eot?') format('eot'), 
       url('assets/fonts/frutigerltw01-75black.woff') format('woff'), 
       url('assets/fonts/frutigerltw01-75black.ttf') format('truetype'), 
       url('assets/fonts/frutigerltw01-75black.svg') format('svg');
}
